@import 'style';


/* FAQ */
#faq .jumbotron {
  min-height: 500px;
  line-height: 500px;
  background: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), url("../images/bluetubes.jpeg");
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  color: $anti-flash-white;
}
#faq .container:nth-child(1) {
  display: inline-block;
  vertical-align: middle;
  line-height: normal;
}
#faq .container:nth-child(1) h1, p {
  margin-left: 50px !important;
}
#faq .container:nth-child(1) p {
  font-size: 22px;
}
