$bgDefault      : #000009;
$bgHighlight    : #000009;
$colDefault     : #ffffff;
$colHighlight   : #a8e063;
$dropDown       : false;
.affix.navbar-default{
 background: rgba(0, 0, 9, 0.9) !important;
 }
.navbar-default {
  background-color: transparent !important;
  border-color: transparent !important;
  letter-spacing: 3px;
  font-size: 16px;
  min-height: 70px;
  .navbar-brand {
    color: $colDefault !important;
    font-size: 28px;
    font-weight: bold;
    &:hover, &:focus {
      color: $colHighlight !important; }}
  .navbar-text {
    color: $colDefault !important; }
  .navbar-nav {
    > li {
      > a {
        color: $colDefault !important;
        &:hover,  &:focus {
          color: $colHighlight !important;
        }}
      @if $dropDown {
        > .dropdown-menu {
          background-color: $bgDefault !important;
          > li {
            > a {
              color: $colDefault !important;
              &:hover,  &:focus {
                color: $colHighlight !important;
                background-color: $bgHighlight !important; }}
            &.divider {
              background-color: $bgHighlight !important;}}}}}
    @if $dropDown {
      .open .dropdown-menu > .active {
        > a, > a:hover, > a:focus {
          color: $colHighlight !important;
          background-color: $bgHighlight !important; }}}
    > .active {
      > a, > a:hover, > a:focus {
        color: $colHighlight !important;
        background-color: transparent !important; }}
    > .open {
      > a, > a:hover, > a:focus {
        color: $colHighlight !important;
        background-color: $bgHighlight !important; }}}
  .navbar-toggle {
    border-color: transparent !important;
    &:hover, &:focus {
      background-color: transparent !important; }
    .icon-bar {
      background-color: $colDefault !important; }}
  .navbar-collapse,
  .navbar-form {
    border-color: $colDefault !important; }
  .navbar-link {
    color: $colDefault !important;
    &:hover {
      color: $colHighlight !important; }}}
@media (max-width: 767px) {
  .navbar-default .navbar-nav .open .dropdown-menu {
    > li > a {
      color: $colDefault !important;
      &:hover, &:focus {
        color: $colHighlight !important; }}
    > .active {
      > a, > a:hover, > a:focus {
        color: $colHighlight !important;
        background-color: $bgHighlight !important; }}}
}
