@import 'style';

#pesticide .jumbotron {
  min-height: 500px;
  line-height: 500px;
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("../images/pesticide.jpeg");
  background-repeat: no-repeat;
  background-position: right;
  background-attachment: fixed;
  background-size: cover;
  color: $anti-flash-white;
}

  #pesticide .container:nth-child(1) {
    display: inline-block;
    vertical-align: middle;
    line-height: normal;
  }
  #pesticide .container:nth-child(1) h1, p {
    margin-left: 50px !important;
  }
  #pesticide .container:nth-child(1) p {
    font-size: 22px;
  }

  #pesticide-secondary article p {
    margin-left: 0 !important;
  }
