@import 'style';


/* QUALITY */
#quality .jumbotron {
  min-height: 500px;
  line-height: 500px;
  background: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), url("../images/quality.jpeg");
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  color: $anti-flash-white;
}
#quality .container:nth-child(1) {
  display: inline-block;
  vertical-align: middle;
  line-height: normal;
}
#quality .container:nth-child(1) h1, p {
  margin-left: 50px !important;
}
#quality .container:nth-child(1) p {
  font-size: 22px;
}
#quality-main article p {
  margin-left: 0 !important;
  margin-bottom: 40px;
}
#quality-features .row {
  margin-top: 40px;
  margin-bottom: 40px;
}
#quality-features p {
  margin-left: 0px !important;
}
#quality-features div:nth-child(2)  h3 {
  text-align: left;
}
#quality-features{
  background-color: $cool-grey;
}
