/* SERVICES */
#services .jumbotron {
  min-height: 500px;
  line-height: 500px;
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("../images/AdobeStock_99643168_Preview.jpeg");
  background-repeat: no-repeat;
  background-position: right;
  background-attachment: fixed;
  background-size: cover;
  color: $anti-flash-white;
}

  #services .container:nth-child(1) {
    display: inline-block;
    vertical-align: middle;
    line-height: normal;
  }
  #services .container:nth-child(1) h1, p {
    margin-left: 50px !important;
  }
  #services .container:nth-child(1) p {
    font-size: 22px;
  }

  /* SERVICES-MAIN */
  #services-main .section-header h2, p {
    text-align: left !important;
    margin-bottom: 10px;
    font-family: 'Metrophobic', sans-serif !important;
  }
  #services-main h3 {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
  }
  #services-main .icon-card {
    margin-top: 40px;
  }
  #services-main .icon-card p {
    text-align: center;
    margin: $p-margin;
  }
  #services-main .icon-card i {
    color: $forest-green;
  }
  #services-main .icon-card .btn-default {
    background-color: $electric-blue;
    border-radius: 10px;
    color: #FFFFFF;
    display: block;
    width: 100%;
    margin: 40px auto;
  }
  #services-main .icon-card .btn-default:hover {
    background-color: #FFFFFF;
    color: $electric-blue;
    border: 2px solid $electric-blue;
    margin-bottom: auto;
  }

  /* SERVICES-SECONDARY */
  #services-secondary {
    background-color: $cool-grey;
  }
  #services-secondary p {
    margin-left: 0 !important;
    margin-bottom: 40px !important;
  }
  #services-secondary .section-header > h2 {
    margin-top: 40px !important;
  }
  #services-secondary article .btn-default {
    background-color: $electric-blue;
    border-radius: 10px;
    color: #FFFFFF;
    display: block;
    width: 100%;
    margin: 40px auto;
  }
  #services-secondary article .btn-default:hover {
    background-color: #FFFFFF;
    color: $electric-blue;
    border: 2px solid $electric-blue;
    margin-bottom: 38px;
  }

  /* SERVICES-THUMBS */
  #services-thumbs .row {
    margin-top: 40px;
  }
  #services-thumbs .caption {
    background-color: #F3F3F7;
  }
  #services-thumbs .thumbnail  {
    position: relative;
  }
  #services-thumbs .thumbnail img  {
    display: block;
  }

#services-thumbs .thumbnail:hover  {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
  #services-thumbs .thumbnail h3 {
    text-align: center;
  }
  #services-thumbs .thumbnail p {
    margin: $p-margin;
    text-align: left;
  }
