
/* Colors */
// $anti-flash-white: #EDF2F4;
$anti-flash-white: #FFFFFF;
$p-margin: 0 !important;
$ralewaysemibold: 'Raleway', sans-serif;
$inchworm: #A8E063;
$neon-carrot: #F9A03F;
$registration-black: #000009;
$ash-grey: #B1C1C0;
$light-grey: #CFDBD5;
$beige: #EBF5DF;
$egg-shell: #EFECCA;
$lavendar-gray: #C4C5C7;
$forest-green: #228B22;
$electric-blue: #39BAAE;
$cool-grey: #F3F3F7;


/*the padding and border of that element no longer increase its width*/
* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}
/* GLOBAL */
body {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif !important;
}
 html
 {
   height:100%;
   width:100%;
 }
ul {
  margin: 0 !important;
  padding: 0 !important;
}

/* CLASSES */
.section-header  {
  text-align: left !important;
  margin-bottom: 40px;
  font-family: 'Metrophobic', sans-serif !important;
}
.section-header p {
 margin-left: 0 !important;
 font-family: $ralewaysemibold, "Helvetica Neue", Helvetica, Arial, sans-serif;
 font-size: 18px !important;
}
.thumbnail {
  background-color: transparent !important;
  border: none !important;
}

/* MEDIA QUERIES */
@media(max-width: 768px){
  #landing .jumbotron {
    min-height: 500px;
    line-height: 500px;
    background: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), url("../images/AdobeStock_138713071_Preview.jpeg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: auto;
    color: $anti-flash-white;
  }
  #about .jumbotron {
    min-height: 500px;
    line-height: 500px;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../images/AdobeStock_65934338_Preview.jpeg");
    background-repeat: no-repeat;
    background-position: right;
    background-size: cover;
    color: $anti-flash-white;
  }
  #services .jumbotron {
    min-height: 500px;
    line-height: 500px;
    background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("../images/AdobeStock_99643168_Preview.jpeg");
    background-repeat: no-repeat;
    background-position: right;
    background-size: cover;
    color: $anti-flash-white;
  }
  #contact .jumbotron {
    min-height: 500px;
    line-height: 500px;
    background: url('../images/AdobeStock_138485966_Preview.jpeg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    color: $anti-flash-white;
  }
  #quality .jumbotron {
    min-height: 500px;
    line-height: 500px;
    background: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), url("../images/AdobeStock_142364612_Preview.jpeg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    color: $anti-flash-white;
  }
  #faq .jumbotron {
    min-height: 500px;
    line-height: 500px;
    background: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), url("../images/AdobeStock_53651924_Preview.jpeg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    color: $anti-flash-white;
  }
  #chromotography .jumbotron {
    min-height: 500px;
    line-height: 500px;
    background: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), url("../images/AdobeStock_75128034.jpeg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    color: $anti-flash-white;
  }
  #genetic .jumbotron {
    min-height: 500px;
    line-height: 500px;
    background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("../images/AdobeStock_58063672_Preview.jpeg");
    background-repeat: no-repeat;
    background-position: right;
    background-size: cover;
    color: $anti-flash-white;
  }
}
