/* Colors */
$anti-flash-white: #EDF2F4;
$p-margin: 0 !important;
$ralewaysemibold: 'Raleway', sans-serif;
$inchworm: #A8E063;
$neon-carrot: #F9A03F;
$registration-black: #000009;
$ash-grey: #B1C1C0;


/*the padding and border of that element no longer increase its width*/
* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}
/* GLOBAL */
body {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif !important;
}
ul {
  margin: 0 !important;
  padding: 0 !important;
}

/* CLASSES */
.section-header  {
  text-align: left !important;
  margin-bottom: 10px;
  font-family: 'Metrophobic', sans-serif !important;
}
.section-header p {
 margin-left: 0 !important;
 font-family: $ralewaysemibold, "Helvetica Neue", Helvetica, Arial, sans-serif;
 font-size: 18px !important;
}
.thumbnail {
  background-color: transparent !important;
  border: none !important;
}
.parallax {

}
/* LANDING */
#landing .jumbotron {
  min-height: 500px;
  line-height: 500px;
  background: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), url("../images/AdobeStock_138713071_Preview.jpeg");
  background-repeat: no-repeat;
  background-position: right;
  background-attachment: fixed;
  background-size: cover;
  color: $anti-flash-white;
}
#landing .container {
  display: inline-block;
  vertical-align: middle;
  line-height: normal;
}
#landing .container h1, p {
  margin-left: 50px !important;
}
/* MAIN */
#main h3 {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}
#main .icon-card {
  margin-top: 40px;
}
#main .icon-card p {
  text-align: center;
  margin: $p-margin;
}
#main .icon-card i {
  color: $inchworm;
}
#main .icon-card button {
  background-color: $neon-carrot;
  border-radius: 10px;
  color: #FFFFFF;
  display: block;
  width: 100%;
  margin: 40px auto;
}
#main .icon-card button:hover {
  background-color: #FFFFFF;
  color: $neon-carrot;
  border: 2px solid $neon-carrot;
  margin-bottom: auto;
}

/* AFFILIATIONS */
#affiliations {
  min-height: 400px;
  background-color: $ash-grey !important;
}
#affiliations .section-header {
  color: $anti-flash-white;
}
#affiliations img {
  max-width: 240px;
  height: auto;
}
#affiliations .thumbnail {
  margin-top: 10px;
}

/* FOOTER */
#footer ul {
  list-style: none;
  text-align: left;
}
#footer ul {
  li {
    display: inline-block;
    margin: 10px;
  }
}
#footer ul:nth-child(1) {
  margin-top: 40px !important;
}
#footer ul:nth-child(2) a{
  color: $neon-carrot !important;
}
#footer ul:nth-child(3) {
  margin-top: 10px !important;
}
#footer a {
  text-decoration: none !important;
  color: $registration-black !important;
  font-family: "Poppins", sans-serif !important;
}
#footer p {
  margin-left: 0 !important;
  margin-top: 10px;
}
#footer .col-xs-12:nth-child(3) p {
  font-size: 18px;
}
#footer .col-xs-12.col-md-6:nth-child(1) p {
  margin-top: 40px;
}
#footer .col-xs-12.col-md-3 {
  text-align: left;
  margin-top: 40px !important;
}
#footer .col-xs-12.col-md-3:nth-child(2) p:first-child{
  margin-bottom: 21px !important;
}
#footer form {
  margin-top: 20px !important;
  margin-bottom: 10px !important;
}
#footer .btn-default {
  background-color: $inchworm !important;
  color: #FFFFFF;
}

/* ABOUT */
#about .jumbotron {
  min-height: 500px;
  line-height: 500px;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../images/AdobeStock_65934338_Preview.jpeg");
  background-repeat: no-repeat;
  background-position: right;
  background-attachment: fixed;
  background-size: cover;
  color: $anti-flash-white;
}
#about .container {
  display: inline-block;
  vertical-align: middle;
  line-height: normal;
}
#about .container h1, p {
  margin-left: 50px !important;
}
