/* Colors */
$anti-flash-white: #EDF2F4;
$p-margin: 0 !important;
$ralewaysemibold: 'Raleway', sans-serif;
$inchworm: #A8E063;
$neon-carrot: #F9A03F;
$registration-black: #000009;
$ash-grey: #B1C1C0;
$light-grey: #CFDBD5;
$beige: #EBF5DF;
$egg-shell: #EFECCA;
$lavendar-gray: #C4C5C7;
$forest-green: #228B22;
$electric-blue: #39BAAE;


/*the padding and border of that element no longer increase its width*/
* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}
/* GLOBAL */
body {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif !important;
}
 html
 {
   height:100%;
   width:100%;
 }
ul {
  margin: 0 !important;
  padding: 0 !important;
}

/* CLASSES */
.section-header  {
  text-align: left !important;
  margin-bottom: 40px;
  font-family: 'Metrophobic', sans-serif !important;
}
.section-header p {
 margin-left: 0 !important;
 font-family: $ralewaysemibold, "Helvetica Neue", Helvetica, Arial, sans-serif;
 font-size: 18px !important;
}
.thumbnail {
  background-color: transparent !important;
  border: none !important;
}
/* LANDING */
#landing .jumbotron {
  min-height: 500px;
  line-height: 500px;
  background: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), url("../images/AdobeStock_138713071_Preview.jpeg");
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  color: $anti-flash-white;
}
#landing .container:nth-child(1) {
  display: inline-block;
  vertical-align: middle;
  line-height: normal;
}
#landing .container:nth-child(1) h1, p {
  margin-left: 50px !important;
}
#landing .container:nth-child(1) p {
  font-size: 22px;
}
/* MAIN */
#main h3 {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}
#main .icon-card {
  margin-top: 40px;
}
#main .icon-card p {
  text-align: center;
  margin: $p-margin;
}
#main .icon-card i {
  color: $forest-green;
}
#main .icon-card .btn-default {
  background-color: $electric-blue;
  border-radius: 10px;
  color: #FFFFFF;
  display: block;
  width: 100%;
  margin: 40px auto;
}
#main .icon-card .btn-default:hover {
  background-color: #FFFFFF;
  color: $electric-blue;
  border: 2px solid $electric-blue;
  margin-bottom: auto;
}

/* CAROUSEL */
.carousel img{
  margin: 0 auto;
  width: 100%;
}
.carousel-inner > .item {
  position: relative;
  max-height: 600px;
}
.carousel-caption {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
.carousel-caption p {
margin-left: 0 !important;
}
#carousel article p {
margin-left: 0 !important;
margin-bottom: 40px;
}
#carousel article .btn-default {
background-color: $electric-blue;
border-radius: 10px;
color: #FFFFFF;
display: block;
width: 100%;
margin: 40px auto;
}
/* AFFILIATIONS */
#affiliations {
  min-height: 400px;
  background-color: $lavendar-gray !important;
}
#affiliations .section-header {
  color: $anti-flash-white;
}
#affiliations img {
  max-width: 240px;
  height: auto;
}
#affiliations .thumbnail {
  margin-top: 10px;
}

/* FOOTER */
#footer ul {
  list-style: none;
  text-align: left;
}
#footer ul {
  li {
    display: inline-block;
    margin: 10px;
  }
}
#footer ul:nth-child(1) {
  margin-top: 40px !important;
}
#footer ul:nth-child(2) a{
  color: $electric-blue !important;
}
#footer ul:nth-child(3) {
  text-align: left;
  margin-top: 10px !important;
}
#footer a {
  text-decoration: none !important;
  color: $registration-black !important;
  font-family: "Poppins", sans-serif !important;
}
#footer p {
  margin-left: 0 !important;
  margin-top: 10px;
}
#footer .col-xs-12:nth-child(3) p {
  font-size: 18px;
}
#footer .col-xs-12.col-md-6:nth-child(1) p {
  margin-top: 40px;
}
#footer .col-xs-12.col-md-3 {
  text-align: left;
  margin-top: 40px !important;
}
#footer .col-xs-12.col-md-3:nth-child(2) p:first-child{
  margin-bottom: 21px !important;
}
#footer form {
  margin-top: 20px !important;
  margin-bottom: 10px !important;
}
#footer .btn-default {
  background-color: $electric-blue !important;
  color: #FFFFFF;
}

/* ABOUT */
#about .jumbotron {
  min-height: 500px;
  line-height: 500px;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../images/AdobeStock_65934338_Preview.jpeg");
  background-repeat: no-repeat;
  background-position: right;
  background-attachment: fixed;
  background-size: cover;
  color: $anti-flash-white;
}
#about .container:nth-child(1) {
  display: inline-block;
  vertical-align: middle;
  line-height: normal;
}
#about .container:nth-child(1) h1, p {
  margin-left: 50px !important;
}
#about .container:nth-child(1) p {
  font-size: 22px;
}

#about-main p {
  margin-left: 0 !important;
}
#about-main article .btn-default {
  background-color: $electric-blue;
  border-radius: 10px;
  color: #FFFFFF;
  display: block;
  width: 100%;
  margin: 40px auto;
}
#about-main article .btn-default:hover {
  background-color: #FFFFFF;
  color: $electric-blue;
  border: 2px solid $electric-blue;
  margin-bottom: 38px;
}



/* SERVICES */
#services .jumbotron {
  min-height: 500px;
  line-height: 500px;
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("../images/AdobeStock_99643168_Preview.jpeg");
  background-repeat: no-repeat;
  background-position: right;
  background-attachment: fixed;
  background-size: cover;
  color: $anti-flash-white;
}

  #services .container:nth-child(1) {
    display: inline-block;
    vertical-align: middle;
    line-height: normal;
  }
  #services .container:nth-child(1) h1, p {
    margin-left: 50px !important;
  }
  #services .container:nth-child(1) p {
    font-size: 22px;
  }

  /* SERVICES-MAIN */
  #services-main .section-header h2, p {
    text-align: left !important;
    margin-bottom: 10px;
    font-family: 'Metrophobic', sans-serif !important;
  }
  #services-main h3 {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
  }
  #services-main .icon-card {
    margin-top: 40px;
  }
  #services-main .icon-card p {
    text-align: center;
    margin: $p-margin;
  }
  #services-main .icon-card i {
    color: $forest-green;
  }
  #services-main .icon-card .btn-default {
    background-color: $electric-blue;
    border-radius: 10px;
    color: #FFFFFF;
    display: block;
    width: 100%;
    margin: 40px auto;
  }
  #services-main .icon-card .btn-default:hover {
    background-color: #FFFFFF;
    color: $electric-blue;
    border: 2px solid $electric-blue;
    margin-bottom: auto;
  }

  /* SERVICES-SECONDARY */
  #services-secondary {
    background-color: #F3F3F7;
  }
  #services-secondary p {
    margin-left: 0 !important;
    margin-bottom: 40px !important;
  }
  #services-secondary .section-header > h2 {
    margin-top: 40px !important;
  }

  /* SERVICES-THUMBS */
  #services-thumbs .row {
    margin-top: 40px;
  }
  #services-thumbs .caption {
    background-color: #F3F3F7;
  }
  #services-thumbs .thumbnail  {
    position: relative;
  }
  #services-thumbs .thumbnail img  {
    display: block;
  }

#services-thumbs .thumbnail:hover  {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
  #services-thumbs .thumbnail h3 {
    text-align: center;
  }
  #services-thumbs .thumbnail p {
    margin: $p-margin;
    text-align: left;
  }

  /* CONTACT */
  #contact .jumbotron {
    min-height: 500px;
    line-height: 500px;
    background: url('../images/AdobeStock_138485966_Preview.jpeg');
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    color: $anti-flash-white;
  }
  #contact .container:nth-child(1) {
    display: inline-block;
    vertical-align: middle;
    line-height: normal;
  }
  #contact .container:nth-child(1) h1, p {
    margin-left: 50px !important;
  }
  #contact .container:nth-child(1) p {
    font-size: 22px;
  }
  #contact-main article p {
    margin-left: 0px !important;
  }



/* QUALITY */
#quality .jumbotron {
  min-height: 500px;
  line-height: 500px;
  background: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), url("../images/AdobeStock_142364612_Preview.jpeg");
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  color: $anti-flash-white;
}
#quality .container:nth-child(1) {
  display: inline-block;
  vertical-align: middle;
  line-height: normal;
}
#quality .container:nth-child(1) h1, p {
  margin-left: 50px !important;
}
#quality .container:nth-child(1) p {
  font-size: 22px;
}
#quality-main article p {
  margin-left: 0 !important;
}
#quality-features .row {
  margin-top: 40px;
  margin-bottom: 40px;
}

/* MEDIA QUERIES */
@media(max-width: 768px){
  #landing .jumbotron {
    min-height: 500px;
    line-height: 500px;
    background: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), url("../images/AdobeStock_138713071_Preview.jpeg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: auto;
    color: $anti-flash-white;
  }
  #about .jumbotron {
    min-height: 500px;
    line-height: 500px;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../images/AdobeStock_65934338_Preview.jpeg");
    background-repeat: no-repeat;
    background-position: right;
    background-size: cover;
    color: $anti-flash-white;
  }
  #services .jumbotron {
    min-height: 500px;
    line-height: 500px;
    background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("../images/AdobeStock_99643168_Preview.jpeg");
    background-repeat: no-repeat;
    background-position: right;
    background-size: cover;
    color: $anti-flash-white;
  }
  #contact .jumbotron {
    min-height: 500px;
    line-height: 500px;
    background: url('../images/AdobeStock_138485966_Preview.jpeg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    color: $anti-flash-white;
  }
  #quality .jumbotron {
    min-height: 500px;
    line-height: 500px;
    background: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), url("../images/AdobeStock_142364612_Preview.jpeg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    color: $anti-flash-white;
  }

}
